@font-face {
  font-family: Manrope;
  font-weight: 600;
  font-style: normal;
  src: local("Manrope Semi Bold"),
  local("Manrope-SemiBold"),
  url("../fonts/Manrope-SemiBoldManrope-SemiBold.eot") format('eot'),
  url("../fonts/Manrope-SemiBold.woff") format('woff'),
  url("../fonts/Manrope-SemiBold.woff2") format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-weight: 700;
  font-style: normal;
  src: local("Manrope Bold"),
  local("Manrope-Bold"),
  url("../fonts/Manrope-Bold.eot") format('eot'),
  url("../fonts/Manrope-Bold.woff") format('woff'),
  url("../fonts/Manrope-Bold.woff2") format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  font-weight: 800;
  font-style: normal;
  src: local("Manrope Extra Bold"),
  local("Manrope-ExtraBold"),
  url("../fonts/Manrope-ExtraBold.eot") format('eot'),
  url("../fonts/Manrope-ExtraBold.woff") format('woff'),
  url("../fonts/Manrope-ExtraBold.woff2") format('woff2');
  font-display: swap;
}