@media (max-width:1100px) {
  .header__bottom-inner {
    display: flex;
    flex-direction: column-reverse;
  }

  .header__image {
    margin-bottom: 32px;
  }

  .header__title {
    font-size: 52px;
  }

  .title {
    font-size: 48px;
  }


  /*-----------------------------------------*/


  .process__inner {
    flex-direction: column;
  }

  .process__right {
    padding-top: 0;
    margin-left: 100px;
  }

  .process__left {
    margin-bottom: 100px;
  }
}

@media (max-width:1000px) {}

/*===================================================900px=============================================*/

@media (max-width:900px) {
  .header__image {
    display: none;
  }


  .header__top {
    padding: 0;
  }

  .header__logo {
    display: none;
  }

  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s;
  }

  .burger--follow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fff;
    top: 15px;
    right: 15px;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #1E1B1B;
    border-radius: 3px;
    margin: 4px 0;
  }

  .burger::before {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #1E1B1B;
    border-radius: 3px;
  }

  .burger::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #1E1B1B;
    border-radius: 3px;
  }



  .burger--follow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fff;
    top: 15px;
    right: 15px;
  }


  .header__nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transform: translate(100%, 0);
    background-color: #1E1B1B;
    transition: all .3s;
    padding: 100px 30px 30px 30px;
    overflow: auto;
    z-index: 100;
  }

  .header__nav._active {
    transform: translate(0, 0);
  }

  .header__nav-list {
    display: block;
    margin-bottom: 45px;
  }

  .header__nav-item {
    margin-bottom: 45px;
  }

  .header__nav-item:last {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 24px;
    color: #fff;
  }

  .assistance__stripe {
    display: none;
  }

  .header__link::after {
    background-color: #fff;
  }

  .header__assistance {
    color: #fff;
    margin-left: -20px;
  }

  /*---------------------------------------------*/

  .cta__orange {
    left: 5%;
    right: 5%;
  }

  .experience__list {
    flex-direction: column;
  }

  .experience__text {
    text-align-last: left;
  }

  .experience__item {
    margin-bottom: 16px;
  }

  /*---------------------------------------------*/

  .brands__list {
    grid-template: repeat(5, auto) / repeat(2, 1fr);
  }

  /*---------------------------------------------*/

  .blog__list {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, 1fr);
    gap: 48px 24px;
  }

  .blog__item-image {
    padding-bottom: 12px;
  }

  .blog__item-date {
    padding-bottom: 8px;
  }

  .blog__item-title {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 4px;
  }

  /*---------------------------------------------*/


  /*---------------------------------------------*/
  .contacts__inner {
    flex-direction: column;
  }

  .contacts__form-btn {
    max-width: 206px;
    margin: 30px 0 50px;
  }

  /*---------------------------------------------*/

  .footer__top-inner {
    flex-direction: column;
  }

  .footer__socials {
    margin-bottom: 40px;
  }

  .footer__title {
    font-size: 40px;
    margin-bottom: 64px;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__bottom-inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__nav-list {
    margin-bottom: 40px;
  }

  .footer__nav-item {
    margin-bottom: 16px;
    font-size: 20px;
  }

}


/*===================================================700px=============================================*/

@media (max-width: 700px) {
  .offer__grid {
    grid-template: repeat(4, auto) / repeat(2, 1fr);
  }

  .offer__about {
    display: none;
  }

  .offer__link {
    padding: 40px 0 36px;
  }

  .title {
    font-size: 32px;
  }

  /*-----------------------------------------*/

  .process__item-title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }

  .process__left {
    margin-right: 0;
  }

  /*-----------------------------------------*/
  .cta__orange {
    padding: 100px 40px 100px;
  }

  .cta__title {
    font-size: 32px;
  }

  /*-----------------------------------------*/
  .testimonials__navigation {
    display: none;
  }

  .testimonials__pagination {
    margin-top: 90px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
    height: 5px;
  }

  /*-----------------------------------------*/

  .faq__square {
    background-color: transparent;
  }

  .faq__square::before {
    background-color: #FF6433;
    border: 1px solid #FF6433;
  }

  .faq__square:after {
    background-color: #FF6433;
    border: 1px solid #FF6433;
  }

  /*-----------------------------------------*/

  .header {
    padding-bottom: 100px;
  }

  .main__offer {
    padding: 100px 0;
  }

  .main__process {
    padding: 80px 0;
  }

  .main__brands {
    padding: 80px 0 50px 0;
  }

  .main__blog {
    padding: 80px 0 80px 0;
  }

  .main__testimonials {
    padding: 80px 0;
  }

  .main__faq {
    padding: 80px 0;
  }

  .main__contacts {
    padding: 80px 0 350px;
  }

  .footer__top {
    padding: 80px 0;
}


}


/*===================================================550px=============================================*/

@media (max-width:550px) {
  .header {
    padding-bottom: 60px;
  }

  .header__top {
    margin-bottom: 40px;
  }

  .title {
    font-size: 32px;
  }

  /*---------------------------------------------*/

  .brands__list {
    gap: 4px;
  }

  /*---------------------------------------------*/

  .blog__list {
    display: grid;
    grid-template: repeat(6, auto) / repeat(1, 1fr);
    gap: 48px 24px;
  }

  .blog__filter-btn {
    font-size: 28px;
  }

  /*---------------------------------------------*/
  .testimonials__item {
    padding: 40px;
  }



  .testimonials__person-name {
    font-size: 16px;
  }

  .testimonials__person-location {
    font-size: 10px;
  }

  /*---------------------------------------------*/

  .faq__item {
    padding: 20px;
  }

  .faq__heading {
    margin-bottom: 4px;
    font-size: 18px;
    margin-top: -10px;
  }

  .faq__text {
    font-size: 16px;
    line-height: 150%;
  }

  .faq__square {
    display: none;
  }

  .faq__title {
    margin-bottom: 50px;
  }

  /*---------------------------------------------*/

  .contacts__info-link {
    font-size: 18px;
    line-height: 36px;
    white-space: initial;
  }

    .contacts__title {
      line-height: 50px;
      margin-bottom: 50px;
  }


  
  /*---------------------------------------------*/

  .testimonials__title {
    margin-bottom: 40px;
  }

  .footer__left {
      margin-right: 0;
  }



}

/*===================================================450px=============================================*/
@media (max-width:450px) {
  .header__btn-box {
    flex-direction: column;
  }

  .header__button {
    margin: 0 0 20px 0;
  }

  .header__title {
    font-size: 42px;
  }

  /*-----------------------------------------*/

  .offer__grid {
    grid-template: repeat(8, auto) / repeat(1, 1fr);
  }

  /*-----------------------------------------*/



  .header__nav-item {
    margin-bottom: 20px;
  }

  .header__nav {

    width: 100%;
    height: 100%;
    transform: translate(100%, 0);
    background-color: #1E1B1B;
    transition: all .3s;
    padding: 70px 30px 30px 30px;
    overflow: auto;
  }

  .header__nav-item {
    margin-bottom: 70px;
  }

  .blog__filter-btn {
    font-size: 20px;
}

.blog__title {
  margin-bottom: 28px;
}

.testimonials__text {
  font-size: 18px;
  line-height: 24px;
}

  .footer__title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 48px;
  }

  /*-----------------------------------------*/



}