*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Manrope', sans-serif;
  color: #1E1B1B;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 64px;
  color: #FFFFFF;
  background: #FF6433;
  border-radius: 12px;
  white-space: nowrap;
  transition: all .3s;
  padding: 0 40px;
}

.button:hover {
  transform: scale(1.05);
}

.title {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  letter-spacing: -0.03em;
  text-align: center;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.title-2 {
  font-size: 24px;
  letter-spacing: -0.03em;
  text-align: center;
}

.header {
  padding-bottom: 135px;
}

.main__offer {
  padding: 128px 0;
}

.main__process {
  padding: 134px 0;
}

.main__brands {
  padding: 128px 0 82px 0;
}

/*===================================================HEADER==================================================================*/
/*===================================================HEADER==================================================================*/

.header {
  background-color: #FEFEFE;
}

.header__top {
  padding: 18px 0 16px 0;
  margin-bottom: 80px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}

.header__logo {
  padding: 0 15px;
}

.header__nav {
  display: flex;
  padding-right: 32px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  transition: all .5s;
  text-decoration: none;
  position: relative;
}

.header__nav-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s;
}

.header__nav-link:hover {
  color: #FF6433;
  transition: all .3s;
}

.header__nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #FF6433;
  transition: width 0.5s;
}

.header__assistance {
  margin-left: 32px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.assistance__stripe {
  opacity: 0.36;
  border: 1px solid #939191;
  height: 42px;
  margin-right: 32px;
}

.assistance__link {
  display: flex;
  align-items: center;
}

.assistance__link:hover .assistance__icon {
  box-shadow: 0px 0px 0 12px #5cba9940;
  border-radius: 50%;
  box-sizing: border-box;
}

.assistance__icon {
  margin-right: 14px;
  transition: all .3s;
}

.assistance__desc-text {
  font-weight: 500;
  opacity: .7;
}

.assistance__desc-tel {
  font-size: 18px;
  line-height: 175%;
}

/*===================================================HEADER BOTTOM==================================================================*/
/*===================================================HEADER BOTTOM==================================================================*/

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.header__body {
  padding: 0 15px;
  max-width: 654px;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 131%;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.header__btn-box {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.header__button {
  margin-right: 32px;
}

.header__play {
  font-weight: 500;
  line-height: 19px;
  display: flex;
  align-items: center;
  transition: all .3s;
}

.header__play::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/header/Play\ icon.svg);
  margin-right: 8px;
}

.header__play:hover {
  transform: scale(1.05);
}

.header__hours {
  position: relative;
  padding-left: 44px;
}

.header__hours::before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background: url(../images/header/clock-icon.svg);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.hours__open {
  font-weight: 500;
  opacity: .6;
}

.hours__hours {
  font-size: 18px;
  line-height: 175%;
}

.header__image {
  position: relative;
  padding: 0 15px;
}

.header__image img {
  width: 100%;
  height: 100%;
}

.header__service {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 81px;
  left: -15px;
  background-color: #fefefe;
  border: 12px solid #fff;
  border-radius: 59px;
  align-items: center;
  padding: 6px 32px 6px 0;
  box-shadow: 0px 0px 0px 12px #ffffff73;
}

.header__service-24 {
  background: #5CBA99;
  color: #fff;
  border-radius: 50%;
  padding: 17px 12px;
  margin-right: 14px;
  line-height: 175%;
}

.header__service-24 span {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.header__service-text {
  font-size: 24px;
  letter-spacing: -0.03em;
}

.header__rating {
  display: flex;
  position: absolute;
  bottom: 70px;
  right: -5px;
  background-color: #fefefe;
  border: 12px solid #fff;
  border-radius: 59px;
  align-items: center;
  padding: 18px 12px;
  box-shadow: 0px 0px 0px 12px #ffffff73;
}

.rating__left {
  margin-right: 15px;
}

.rating__left-top {
  font-size: 24px;
  letter-spacing: -0.03em;
  color: #000000;
}

.rating__left-bot {
  font-weight: 500;
  opacity: .7;
  color: #000000;
}

/*===================================================OFFER==================================================================*/
/*===================================================OFFER==================================================================*/

.offer {
  background-color: #F2F2F2;
}

.offer__heading {
  max-width: 858px;
  margin: 0 auto;
  margin-bottom: 64px;

}

.offer__subtitle {
  margin-bottom: 8px;
}

.offer__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  text-align: center;
  margin-bottom: 32px;
  gap: 8px;
  max-width: 100%;
  max-height: 472px;
}

.offer__item {
  background-color: #fff;
  height: 232px;
  transition: all .5s;
}

.offer__item svg {
  margin-bottom: 12px;
  transition: all .5s;
}

.offer__item:hover {
  background-color: #FF6433;
  color: #fff;
  transition: all .3s;
}

.offer__item:hover path {
  fill: #fff;
  transition: all .3s;
}

.offer__item:hover {
  background-color: #FF6433;
}

.offer__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 76px 0 62px;
}

.offer__item-name {
  font-size: 24px;
}

.offer__about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  line-height: 175%;
}

.offer__about::after {
  content: "";
  width: 53px;
  height: 16px;
  display: block;
  background: url(../images/offer/arrow.svg);
  margin-left: 16px;
}

/*===================================================PROCESS==================================================================*/
/*===================================================PROCESS==================================================================*/


.process__inner {
  display: flex;
  margin: 0 -15px;
}

.process__left {
  max-width: 524px;
  padding: 0 15px;
  margin-right: 220px;
}

.process__left-title {
  margin-bottom: 16px;
  text-align: left;
}

.process__left-text {
  line-height: 28px;
  opacity: .6;
  margin-bottom: 32px;
  max-width: 437px;
}

.process__right {
  padding-top: 25px;
}

.process__item {
  margin-bottom: 36px;
  max-width: 336px;
}

.process__item-title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.process__item-title::before {
  content: "01";
  display: block;
  width: 72px;
  height: 72px;
  position: absolute;
  background: #661CE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
  color: #fff;
}

.process__item-title--2::before {
  content: "02";
  display: block;
  width: 72px;
  height: 72px;
  position: absolute;
  background: #661CE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
  color: #fff;
}

.process__item-title--3::before {
  content: "03";
  display: block;
  width: 72px;
  height: 72px;
  position: absolute;
  background: #661CE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
  color: #fff;
}

.process__item-title::after {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 50%;
  bottom: -195%;
  left: -75px;
}

.process__item-desc {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  position: relative;
}

.process__item-desc::before {
  content: "";
  display: block;
  width: 71px;
  height: 1px;
  border: 1px dashed #FF6433;
  transform: rotate(90deg);
  position: absolute;
  left: -26.5%;
  top: 53%;
}

.process__item-desc--3::before {
  display: none;
}

/*===================================================CTA==================================================================*/
/*===================================================CTA==================================================================*/

.cta {
  background-image: url(../images/cta/cta-img1.png), url(../images/cta/cta-img2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  min-height: 502px;
  position: relative;
}

.cta__orange {
  background-color: #FF6433;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 318px;
  color: #fff;
  padding: 128px 80px 128px 61px;
}

.cta__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  max-width: 569px;
  margin-bottom: 48px;
}

.cta__btn {
  background-color: #1E1B1B;
}

/*===================================================EXPERIENCE==================================================================*/
/*===================================================EXPERIENCE==================================================================*/

.experience__list {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}
.experience__title {
  text-align-last: left;
  color: #661CE7;
}
.experience__text {
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.03em;
  opacity: 0.7;
}

/*===================================================BRANDS==================================================================*/
/*===================================================BRANDS==================================================================*/


.brands {
  background-color: #E2E6E9;
}
.brands__title {
  margin-bottom: 31px;
}
.brands__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(5, 1fr) ;
  gap: 38px;
}
.brands__item path {
  opacity: .8;
  transition: all .3s;
}
.brands__item:hover path {
  fill: #FF6433;
  opacity: 1;
}